.sticker {
    font-family: Helvetica, Arial, sans-serif;
    display: grid;
    padding: 15px 8px;
    background-color: #12212A;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(7, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    grid-template-areas: 
    "header header"
    ". bar-time"
    ". bar-conditions"
    "caption-temp bar-temp"
    "caption-wind bar-wind"
    "caption-gusts bar-gusts"
    "caption-clouds bar-clouds"
    "caption-precipitation bar-precipitation"
    ;
    box-sizing: border-box;
    color: #ffffff;
    &__header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        grid-area: header;
    }
    &__spotname {
        color: #FFF;
        font-family: Helvetica;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-decoration-line: underline;
    }
    &__bar {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-items: center;
        width: 100%;
        column-gap: 0;
        &_time {
            grid-area: bar-time;
        }
        &_conditions {
            grid-area: bar-conditions;
        }
        &_temp {
            grid-area: bar-temp;
        }
        &_wind {
            grid-area: bar-wind;
        }
        &_gusts {
            grid-area: bar-gusts;
        }
        &_clouds {
            grid-area: bar-clouds;
        }
        &_precipitation {
            grid-area: bar-precipitation;
            background-image: url(../../images/precipitation-bg.svg);
            background-size: 200px 30px;
        }
    }
    &__bar-item {
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 2px solid #12212A;
        border-left: 2px solid #12212A;
        width: 100%;
    //    mix-blend-mode: difference;
        color: #000000;
        box-sizing: border-box;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        &::after {
            content: '';
            display: block;
            background-color: #12212A;
            top: 0;
            bottom: 0;
        }
        &_time {
            color: #ffffff;
        }
        &_img {
            height: 100%;
            width: auto;
            border: 0;
        }
        &:last-of-type {
            border-right: 0;
        }
        &:first-of-type {
            border-left: 0;
        }
    }
    &__caption {
        display: flex;
        gap: 4px;
        &_temp {
            grid-area: caption-temp;
        }
        &_wind {
            grid-area: caption-wind;
        }
        &_gusts {
            grid-area: caption-gusts;
        }
        &_clouds {
            grid-area: caption-clouds;
        }
        &_precipitation {
            grid-area: caption-precipitation;
        }
    }
    &__caption-text {
        color: #FFF;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__caption-image {

    }
}